<style>
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>
<div class="main">
  <div><P>Esic Contribution</P></div>
  <div><p>Employee Contribution is : <%-esicContribution.employee%></p></div>
  <div><p>Employer Contribution is : <%-esicContribution.employer%></p></div>
</div>
