<%-include('layout/boilerplate.ejs') %>

<form action="/inputs" method="POST">
  <h1 align="center">Inputs</h1>
  <div class="main">
    <div class="PTinputs">
      <select name="state">
        <option value="" selected disabled>Select state</option>
        <option value="ap">Andra Pradesh</option>
        <option value="as">Assam</option>
        <option value="bh">Bihar</option>
        <option value="gj">Gujrat</option>
        <option value="jh">Jharkhand</option>
        <option value="kr">Karnataka</option>
        <option value="ker">Kerela</option>
        <option value="mp">Madhya Pradesh</option>
        <option value="mh">Maharahstra</option>
        <option value="mn">Manipur</option>
        <option value="meg">Meghalaya</option>
        <option value="od">Orrisa</option>
        <option value="pd">Puducherry</option>
        <option value="sk">Sikkim</option>
        <option value="tn">TamilNadu</option>
        <option value="tel">Telenagana</option>
        <option value="tri">Tripura</option>
        <option value="wb">West Bengal</option>
      </select>
    </div>
    <div class="salary">
      <select name="salarytype">
        <option value="" selected disabled>Salary</option>
        <option value="annual">Annual</option>
        <option value="monthly">monthly</option>
      </select>
      <div>
        <div class="gender">
      <select name="gender">
        <option value="" selected disabled>gender</option>
        <option value="m">Male</option>
        <option value="f">Female</option>
      </select>
      <div>
        <label for="salary">Enter salary</label>
        <input type="text" name="salary" id="salary" required />
      </div>
    </div>
  </div>
  <button>Submit</button>
</form>
