<%-include('../layout/boilerplate.ejs') %>
  <body>
    <style>
      div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
    </style>
    <h1>Select State</h1>
    <div>
      <%for(let state of stateList){%>
      <a href="/lwf/<%=state.name%>"
        ><button

          name="statename"
          value="<%=state.name%>"
        >
          <%=state.name%>
        </button></a
      >
      <%}%>
    </div>
    <div>
    <a href="/"><button class="btn btn-danger">Home/Back</button></a>
    </div>
  </body>
</html>
